<div class="help-with-wrapper inner" style="background-image: url('{{this.bgImage}}');">
  {{this.activeTitle}}
  <div class="slides">
    {{#each this.slides}}
      <label {{#if @isCurrent}}checked{{/if}} style="background-image: url('{{this.img}}');">
        <input type="radio" name="help-with" value="{{@index}}">
      </label>
    {{/each}}
  </div>
  {{this.activeContent}}
</div>
