<div id="loss-carbon-chart" class="graph-line-bar">
  <div id="loss-carbon-chart-legend" class="graph-legend"></div>
</div>
<ul class="analysis-stats -compact">
  <li>
    <span class="stats-title">Average of the aboveground live biomass</span>
    <span class="stats-count">
      {{#if averageAbovegroundBiomass}}
        <strong>{{averageAbovegroundBiomass}}</strong> Mg biomass/ha
      {{else}}
        -
      {{/if}}
    </span>
  </li>

  <li>
    <span class="stats-title">Average aboveground live biomass density</span>
    <span class="stats-count">
      {{#if averageCarbonAbovegroundBiomass}}
        <strong>{{averageCarbonAbovegroundBiomass}}</strong> Mg/ha
      {{else}}
        -
      {{/if}}
    </span>
  </li>
</ul>
</div>
{{#if iso}}
<div class="m-btncontainer">
  <a class="btn blue uppercase full-width" href="/countries/{{iso}}">Country profile</a>
</div>
{{/if}}

<footer class="analysis-footer">
  <ul>
    <li id="analysis-delete">
      <svg class="icon"><use xlink:href="#icon-analysis-remove"></use></svg>
      <span class="tooltipmap bottom">Discard analysis</span>
    </li>
    {{!-- <li id="analysis-subscribe">
      <svg class="icon"><use xlink:href="#icon-analysis-alerts"></use></svg>
      <span class="tooltipmap bottom">Subscribe</span>
    </li> --}}
  </ul>
</footer>
