<div class="stats">
  <div class="label">
    Week {{week}}
  </div>

  <div class="list {{#if isDesforestation}}deforestation{{/if}}">

    <div class="main-data">
      {{#if isDesforestation}}
        <div class="item -mobile">
          <div class="heading">
            <div class="label">Deforestation to Date (ha)</div>
          </div>
          <div class="value">{{deforestation}}</div>
        </div>

        <div class="item">
          <div class="heading">
            <div class="label">Annual Budget Used to Date (%)</div>
          </div>
          <div class="value">{{annual_budget_deforestation}}</div>
        </div>
      {{else}}
        <div class="item -mobile">
          <div class="heading">
            <div class="label">Cumulative Emissions to Date (MtCO<sub>2</sub>)</div>
          </div>
          <div class="value">{{emissions}}</div>
        </div>

        <div class="item">
          <div class="heading">
            <div class="label">Annual Budget Used to Date (%)</div>
          </div>
          <div class="value">{{annual_budget}}</div>
        </div>
      {{/if}}

      <div class="item">
        <div class="heading">
          <div class="label">Confirmed <br>alerts</div>
        </div>
        <div class="value -neutral">{{alerts}}</div>
      </div>
    </div>

    <div class="extra-data">
      This week's emissions are roughly equivalent to the average annual CO<sub>2</sub> emissions of <span class="value">{{co2Equivalency}}</span> passenger vehicles.
    </div>

  </div>
</div>

<div class="map">
  <div class="thumbnail">
    <div class="image">
      <div class="loader"></div>
    </div>
  </div>

  <div class="btn-map">
    <div class="btn gray"><a class="map-link" target="_blank" href="http://staging.globalforestwatch.org/map/3/7.13/-31.68/{{iso}}/grayscale/umd_as_it_happens?tab=analysis-tab&begin={{begin}}&end={{end}}&fit_to_geom=true">View on map</a></div>
  </div>
</div>
