<div class="list {{#if isDesforestation}}deforestation{{/if}}">

  {{#if isDesforestation}}
    <div class="item glad-alerts">
      <div class="heading">
        <div class="icon -no-icon"></div>
        <div class="label">Confirmed alerts</div>
      </div>
      <div class="value default">{{alerts}}</div>
    </div>

    <div class="item">
      <div class="heading">
        <div class="icon -line"></div>
        <div class="label">Deforestation to Date (ha)</div>
      </div>
      <div class="value">{{deforestation}}</div>
    </div>

    <div class="item">
      <div class="heading">
        <div class="icon -no-icon"></div>
        <div class="label">Annual Budget Used to Date (%)</div>
      </div>
      <div class="value">{{annual_budget_deforestation}}</div>
    </div>
  {{else}}
    <div class="item glad-alerts">
      <div class="heading">
        <div class="icon -no-icon"></div>
        <div class="label">Confirmed alerts</div>
      </div>
      <div class="value default">{{alerts}}</div>
    </div>

    <div class="item">
      <div class="heading">
        <div class="icon -line"></div>
        <div class="label">Cumulative Emissions to Date (MtCO<sub>2</sub>)</div>
      </div>
      <div class="value">{{emissions}}</div>
    </div>

    <div class="item">
      <div class="heading">
        <div class="icon -no-icon"></div>
        <div class="label">Annual Budget Used to Date (%)</div>
      </div>
      <div class="value default">{{annual_budget}}</div>
    </div>

  {{/if}}

</div>
