<ul class="filter-list {{#unless options.length}}-empty{{/unless}}">
  {{#each options}}
    <li class="list-item">
      <div class="selector">
        <input
          id="{{../id}}-option-{{@index}}"
          name="{{../id}}-option-{{@index}}"
          type="checkbox" value="{{this.value}}"
          {{#if this.selected}}checked{{/if}}
          class="js-select"
        >
        <label for="{{../id}}-option-{{@index}}">
          <span>{{this.name}}</span>
        </label>
      </div>
  {{else}}
    <span class="placeholder">{{placeholder}}</span>
  {{/each}}
  </li>
</ul>
