<div class="dowload-select-card">
  <div class="header">
    <div class="search-filter-box">
      <input id="{{id}}-search" placeholder="{{name}}" type="text" value="{{search}}" class="js-search-filter">
    </div>
    {{#unless hideAll}}
      <div class="selector">
        <input id="{{id}}-select-all" name="{{id}}-select-all" type="checkbox" value="all" class="js-select-all">
        <label for="{{id}}-select-all">&nbsp;</label>
      </div>
    {{/unless}}
  </div>
  <div id="{{id}}-options" class="content"></div>
</div>
