<h1><a href="/">Global Forest Watch</a></h1>
<nav id="nav-mobile">
  <form class="mobile-show" action="/search">
    <svg class="icon"><use xlink:href="#shape-search"></use></svg>
    <input type="text" name="query" id="search-input" placeholder="Search GFW website">
  </form>
  <div id="google_translate_element_box2"></div>
  <div id="mobileMenu"></div>
  <% disabled_class = ENV["DISABLE_LINKS"] == "true" ? "is-temporary-disabled source" : "" %>
  <% disabled_data_source = ENV["DISABLE_LINKS"] == "true" ? "temporary-disabled" : "" %>
  <ul class="mobile-hide">
    <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>">
      <a <% if controller?("map") && action?("index") %>class="current"<% end %> href="/map">Map</a>
    </li>
    <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>">
      <a <% if controller?("countries") && action?("index") || action?("show") %>class="current"<% end %> href="/countries">Country profiles</a>
    </li>
    <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>">
      <a <% if controller?("compare") && action?("index") %>class="current"<% end %> href="/compare-countries">Country Comparisons</a>
    </li>
    <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>">
      <a <% if controller?("countries") && action?("pantropical") %>class="current"<% end %> href="/pantropical">Pantropical Overview</a>
    </li>
    <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>">
      <a <% if controller?("static") && action?("about") %>class="current"<% end %> href="#">Learn more</a>
      <ul class="submenu">
        <li>
          <!-- <a <% if controller?("posts") && action?("index") %>class="current"<% end %> href="<%= posts_path %>">Blog</a> -->
          <a <% if controller?("posts") && action?("index") %>class="current"<% end %> href="#">Blog</a>
        </li>
        <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>"><a href="#">About GFW Climate</a></li>
        <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>"><a href="#">Data providers and partners</a></li>
        <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>"><a href="#">Tutorials</a></li>
        <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>">
          <a href="http://www.globalforestwatch.org/getinvolved/provide-feedback">Submit Feedback</a>
        </li>
        <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>"><a href="http://data.globalforestwatch.org/">Open Data Portal</a></li>
        <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>"><a href="#">FAQs page</a></li>
        <li class="<%= disabled_class %>" data-source="<%= disabled_data_source %>"><a href="#">Technical Notes and Publications</a></li>
      </ul>
    </li>
  </ul>
</nav>
<% if content_for?(:header) %>
  <%= yield :header %>
<% end %>

