<div style="display:none">
    <li id='biomass_loss' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Carbon emissions from tree cover loss</strong>
        <em class="source_description">(annual, 30m, tropics, Hansen/UMD/Zarin/WHRC/Google/USGS/NASA)</em>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd> Shows carbon emissions associated with clearing of aboveground live woody biomass across the tropics.</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>30 m.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Tropics</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>(Annual tree cover loss), (aboveground biomass density).</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Frequency of updates</dt>
            <dd>Annual</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>2001-2014</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Tree cover canopy density</dt>
            <dd>Varies according to selection (use the legend on the map to change the minimum tree cover canopy density threshold)</dd>
          </dl>
           <dl class='sources_row even'>
            <dt>Cautions</dt>
            <dd>Carbon emissions reflect the carbon dioxide emitted to the atmosphere as a result of aboveground biomass loss.  All loss of aboveground biomass is considered to be “committed” emissions to the atmosphere upon clearing, although there are lag times associated with some aboveground carbon pools. Emissions are “gross” estimates rather than “net” estimates, meaning that information about the fate of land after clearing, and its associated carbon value, is not incorporated due to a current lack of reliable data. Emissions associated with other carbon pools, such as belowground biomass and soil carbon, are excluded from the visualization. Loss of biomass, like loss of tree cover, may occur for many reasons, including deforestation, fire, and logging within the course of sustainable forestry operations.</dd>
          </dl>
           <dl class='sources_row'>
            <dt>License</dt>
            <dd>Creative Commons CC BY 4.0</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>This map layer reflects estimated annual carbon dioxide emissions to the atmosphere as a result of aboveground biomass loss. The layer reflects the co-location of (aboveground live woody biomass) estimates for the year 2000 from Woods Hole Research Center with annual (tree cover loss) estimates from 2001 to 2014, both derived at 30 m resolution. All of the aboveground carbon is considered to be “committed” emissions to the atmosphere upon clearing. Emissions are “gross” rather than “net” estimates, meaning that information about the fate of land after clearing, and its associated carbon value, is not incorporated. Emissions associated with other carbon pools such as belowground biomass and soil carbon are excluded from the map layer. Loss of biomass, like loss of tree cover, may occur for many reasons, including deforestation, fire, and logging within the course of sustainable forestry operations.</p>
          <p>This data layer is visualized on a blue to yellow color scale, with yellow pixels representing areas with highest biomass loss, and pixels with blue shading indicating areas with less biomass loss.</p>

          <p class='credits'><strong>Citation:</strong> Zarin, D., Harris, N.L. et al. 2015. Can carbon emissions drop by 50% in five years? Global Change Biology, in press. Accessed through Global Forest Watch Climate on [date].  <a href="http://climate.globalforestwatch.org" target="_blank">climate.globalforestwatch.org</a></p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>
    <li id='hwsd' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Soil Organic Carbon density</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd> Identifies organic carbon density in the topsoil (0-30 cm depth).</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>1 × 1 kilometer.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Global</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>FAO/IIASA/ISRIC/ISSCAS/JRC, 2012. Harmonized World Soil Database (version 1.2). FAO, Rome, Italy and IIASA, Laxenburg, Austria.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>March 2012</dd>
          </dl>
           <dl class='sources_row even'>
            <dt>Cautions</dt>
            <dd>Reliability of the information contained in the Harmonized World Soil Database is variable due to the use of different data sources within the database. North America, Australia, West Africa and South Asia are considered less reliable, while Central and Southern Africa, Latin America and the Caribbean, Central and Eastern Europe have the highest reliability.</dd>
          </dl>
           <dl class='sources_row'>
            <dt>License</dt>
            <dd>Used with permission from the International Institute for Applied Systems Analysis (IIASA)</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>Soil is the second largest global carbon stock (after oceans) and is a significant component of the biosphere, delivering important ecosystem services. Soil organic carbon is a major component of soil organic matter, which is derived from residual, decomposed plant and animal material. Natural factors, such as land cover, vegetation, topography and climate, as well as man-made factors, such as land use and management, can influence the amount of soil organic matter, and thus soil organic carbon, present in soils.</p>
          <p>To calculate topsoil organic carbon, we use data from the <a href="http://webarchive.iiasa.ac.at/Research/LUC/External-World-soil-database/HTML/index.html?sb=1" target="_blank">Harmonized World Soil Database (HWSD)</a>, a compilation of four soil databases: the European Soil Database (ESDB), the 1:1 million soil map of China, various regional SOTER databases (SOTWIS Database), and the Soil Map of the World. The HWSD contains information on soil parameters, such as organic carbon, pH, water storage capacity, soil depth, total exchangeable nutrients and salinity.</p>
          <p>Topsoil organic carbon (measured in tons per hectare) was calculated using inputs of percent carbon content, bulk density, and gravel volume. We use relative bulk density values except for Andosols and Histosols, which are typically overestimated by this method. Values are calculated for 0-30 cm depth. See more information on calculating SOC from the HWSD <a href="http://eusoils.jrc.ec.europa.eu/esdb_archive/eusoils_docs/other/EUR25225.pdf" target="_blank">here</a></p>

          <p class='credits'><strong>Citation:</strong> World Resources Institute, derived from the Harmonized World Soil Database. “Soil Organic Carbon”. Accessed through Global Forest Watch Climate on [date].  <a href="http://climate.globalforestwatch.org" target="_blank">climate.globalforestwatch.org</a></p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>
    <li id='carbon_stocks' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Aboveground Live Woody Biomass density</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Shows carbon density values of aboveground live woody biomass across the tropics.</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>30 m.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Tropics</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>ICEsat GLAS lidar, MODIS, Landsat, ground measurements.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>2000</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Tree cover canopy density</dt>
            <dd>Varies according to selection (use the legend on the map to change the minimum tree cover canopy density threshold)</dd>
          </dl>
           <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>It is recommended that both aboveground carbon density and uncertainty values be used together for carbon assessments and verification. The map will provide accurate estimates of aboveground carbon stock and aboveground carbon density when aggregated to large areas (5,000 to 10,000 ha) for project and regional level assessments. The biomass density value of a single pixel may have large uncertainty when compared with small plots for verification.</dd>
          </dl>
           <dl class='sources_row even'>
            <dt>License</dt>
            <dd>Creative Commons CC BY 4.0 </dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>This is a higher resolution data product that expands upon the methodology presented in Baccini et al. (2012) to generate a pan-tropical map of aboveground live woody biomass density at 30 m resolution for circa the year 2000. Along with the carbon density values, there is an error map at the same spatial resolution providing the uncertainty in aboveground carbon density estimation. These maps allow for the co-location of biomass estimates with Hansen et al. (2013, v1.0) tree cover loss estimates at similar spatial resolution. The statistical relationship derived between ground-based measurements of forest biomass density and co-located Geoscience Laser Altimeter System (GLAS) LiDAR waveform metrics as described by Baccini et al. (2012) were used to estimate the biomass density of more than 40,000 GLAS footprints throughout the tropics. Then, using randomForest models, the GLAS-derived estimates of biomass density were correlated to continuous, gridded variables including Landsat 7 ETM+ satellite imagery and products (e.g., reflectance), elevation, and biophysical variables. By using continuous gridded datasets as inputs to the randomForest models, a wall-to-wall 30 m resolution map of aboveground woody biomass density across the tropics was produced as well as the associated uncertainty layer. The uncertainty layer takes into account the errors from allometric equations, LiDAR based model, and randomForest model. All the errors are propagated to the final biomass estimate. A detailed description of the work will be reported in a new paper under preparation.</p>

          <p class='credits'><strong>Citation:</strong> Baccini A., W. Walker, L. Carvahlo, M. Farina, D. Sulla-Menashe, R. Houghton (2015). Tropical forests are a net carbon source based on new measurements of gain and loss. In review. Accessed through Global Forest Watch Climate on [date].  <a href="http://climate.globalforestwatch.org" target="_blank">climate.globalforestwatch.org</a></p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>
    <li id='logging' class='source-item first'>
      <div class='source_header'>
        <strong class='source_title'>Managed forests</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_download'>
          <a href='https://gfw2_download.s3.amazonaws.com/logging.zip' target='_blank' title='Download'>Download<i class='arrow_down'></i></a>
        </div>

        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Displays boundaries of forested areas allocated by governments to companies for harvesting timber and other wood products.</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Currently available for Cameroon, Canada, Central African Republic, Democratic Republic of the Congo (DRC), Equatorial Guinea, Gabon, Indonesia, Liberia, and Republic of the Congo.</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>Generally based on a combination of government documents, satellite imagery, and GPS data.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Frequency of updates</dt>
            <dd>Variable, depending on government agencies in each country and other data providers</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Date of content</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>This layer is a compilation of concession data from various countries and sources. The quality of these data can vary depending on the source. This layer may not be comprehensive of all existing concessions in a country, and the location of certain concessions can be inaccurate.</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p> “Managed forests” refers to areas allocated by a government for harvesting timber and other wood products in a public forest. Managed forests are distinct from wood fiber concessions, where tree plantations are established for the exclusive production of pulp and paper products. “Concession” is used as a general term for licenses, permits, or other contracts that confer rights to private companies to manage and extract timber and other wood products from public forests; terminology varies at the national level, however, and includes "forest permits," "tenures," "licenses," and other terms.</p>

          <p>This data set displays managed forest concessions as a single layer assembled by aggregating data for multiple countries. The data may come from government agencies, NGOs, or other organizations and varies by date and data sources. For more information on concession data for each country please visit the <a href="http://data.globalforestwatch.org/datasets?q=timber&sort_by=relevance" class="download-mobile-link" target="_blank">Open Data Portal</a>.</p>

          <p>If you are aware of concession data for additional countries, please email us <a href='mailto:gfw@wri.org'>here</a>.</p>

          <p class='credits'><strong>Suggested citation for data as displayed on GFW:</strong> “Managed forests.” World Resources Institute. Accessed through Global Forest Watch on [date]. <a href='http://www.globalforestwatch.org/' target='_blank'>www.globalforestwatch.org</a>.</p>

          <p class='read_more hidden'><em><%= link_to 'Learn more or download data', "http://data.globalforestwatch.org/datasets/8a405466bff2441794628fc5b845fadd_0", :class => 'download-mobile-link' %></em></p>
        </div>
      </div>
    </li>
    <li id='mining' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Mining</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_download'>
          <a href='http://wri-public-data.s3.amazonaws.com/gfw2/GFW_mining_20140218.zip' target='_blank' title='Download'>Download<i class='arrow_down'></i></a>
        </div>

        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Displays boundaries of areas allocated by governments to companies for extraction of minerals</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Currently available for Cameroon, Canada, Colombia, Republic of the Congo, Democratic Republic of the Congo (DRC), and Gabon</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>Generally based on a combination of government documents, satellite imagery, and GPS data.</span></dd>
          </dl>
          <dl class='sources_row'>
            <dt>Frequency of updates</dt>
            <dd>Variable, depending on government agencies in each country and other data providers</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Date of content</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>This layer is a compilation of concession data from various countries and sources. The quality of these data can vary depending on the source. This layer may not include all existing concessions in a country, and the location of certain concessions can be inaccurate.</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>“Mining concession” refers to an area allocated by a government or other body for the extraction of minerals. The terminology for these areas varies from country to country. “Concession” is used as a general term for licenses, permits, or other contracts that confer rights to private companies to manage and extract minerals from public lands; terminology varies at the national level, however, and includes mineral or mining "permits," "tenures," "licenses," and other terms.</p>

          <p>This data set displays mining concessions as a single layer assembled by aggregating concession data for multiple countries. The data may come from government agencies, NGOs, or other organizations and varies by date and data sources. For more information on concession data for each country please visit the <a href="http://data.globalforestwatch.org/datasets?q=mining&sort_by=relevance" class="download-mobile-link" target="_blank">Open Data Portal</a>.</p>


          <p>If you are aware of concession data for additional countries, please email us <a href='mailto:gfw@wri.org'>here</a>.</p>

          <p class='credits'><strong>Suggested citation for data as displayed on GFW:</strong> “Mining.” World Resources Institute. Accessed through Global Forest Watch on [date]. <a href='http://www.globalforestwatch.org/' target='_blank'>www.globalforestwatch.org</a>.</p>

          <p class='read_more hidden'><em><%= link_to 'Learn more or download data', "http://data.globalforestwatch.org/datasets/26a457ee3b584824bb930f2ec791b60d_0", :class => 'download-mobile-link' %></em></p>
        </div>
      </div>
    </li>
    <li id="oil_palm_wood_fiber" class="source-item">
      <div class='source_header'>
        <strong class='source_title'>Plantations</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>

        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Displays boundaries of areas allocated by governments to companies for tree plantations</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Currently available for Cameroon, Gabon, Indonesia, Liberia, and Republic of the Congo</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>Generally based on a combination of government documents, satellite imagery, and GPS data.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Frequency of updates</dt>
            <dd>Variable, depending on government agencies in each country and other data providers</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Date of content</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>This layer is a compilation of concession data from various countries and sources. The quality of these data can vary depending on the source. This layer may not include all existing concessions in a country, and the location of certain concessions can be inaccurate.</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>“Plantation” refers to an area allocated by a government or other body for the establishment of fast growing tree plantations for the production of oil palm, timber, or other wood products, including pulp and paper.</p>

          <p>This data set displays plantation concessions as a single layer assembled by aggregating data for multiple countries. The data may come from government agencies, NGOs, or other organizations and varies by date and data sources. For more information on concession data for each country please visit the <a href="http://data.globalforestwatch.org/">Open Data Portal</a>.</p>

          <p>If you are aware of plantation concession data for additional countries, please email us <a href='mailto:gfw@wri.org'>here</a>.</p>

          <p class='credits'><strong>Suggested citation for data as displayed on GFW:</strong> “Plantations.” World Resources Institute. Accessed through Global Forest Watch on [date]. <a href='http://www.globalforestwatch.org/' target='_blank'>www.globalforestwatch.org</a>.</p>

          <p class='read_more hidden'><em><%= link_to 'Learn more or download data', "http://data.globalforestwatch.org/datasets/20398d4dc36e47bd92b559786670f270_0" %></em></p>
        </div>
      </div>
    </li>
    <li id='oil_palm' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Oil palm</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>

        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Displays boundaries of areas allocated by governments to companies for oil palm plantations</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Currently available for Cameroon, Republic of the Congo, Indonesia, and Liberia</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>Generally based on a combination of government documents, satellite imagery, and GPS data.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Frequency of updates</dt>
            <dd>Variable, depending on government agencies in each country and other data providers</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Date of content</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>This layer is a compilation of concession data from various countries and sources. The quality of these data can vary depending on the source. This layer may not include all existing concessions in a country, and the location of certain concessions can be inaccurate.</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>“Oil palm concession” refers to an area allocated by a government or other body for industrial-scale oil palm plantations.</p>

          <p>This data set displays oil palm concessions as a single layer assembled by aggregating concession data for multiple countries. The data may come from government agencies, NGOs, or other organizations and varies by date and data sources. For more information on concession data for each country please visit the <a href="http://data.globalforestwatch.org/datasets?q=oil+palm&sort_by=relevance">Open Data Portal</a>.</p>

          <p>If you are aware of concession data for additional countries, please email us <a href='mailto:gfw@wri.org'>here</a>.</p>

          <p class='credits'><strong>Suggested citation for data as displayed on GFW:</strong> “Oil Palm.” World Resources Institute. Accessed through Global Forest Watch on [date]. <a href='http://www.globalforestwatch.org/' target='_blank'>www.globalforestwatch.org</a>.</p>

          <p class='read_more hidden'><em><%= link_to 'Learn more or download data', "http://data.globalforestwatch.org/datasets/20398d4dc36e47bd92b559786670f270_0", :class => "download-mobile-link" %></em></p>
        </div>

      </div>
    </li>
    <li id='wood_fiber_plantations' class='source-item last'>
      <div class='source_header'>
        <strong class='source_title'>Wood Fiber</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_download'>
          <a href='http://wri-public-data.s3.amazonaws.com/gfw2/GFW_woodfiber_20130402.zip' target='_blank' title='Download'>Download<i class='arrow_down'></i></a>
        </div>

        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Displays boundaries of areas allocated by governments to private companies for tree plantations for production of timber and wood pulp for paper and paper products</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Currently available for Republic of the Congo, Gabon, and Indonesia</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>Generally based on a combination of government documents, satellite imagery, and GPS data.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Frequency of updates</dt>
            <dd>Variable, depending on government agencies in each country and other data providers</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Date of content</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>This layer is a compilation of concession data from various countries and sources. The quality of these data can vary depending on the source. This layer may not include all existing concessions in a country, and the location of certain concessions can be inaccurate.</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>“Wood fiber concession” refers to an area allocated by a government or other body for establishment of fast-growing tree plantations for the production of timber and wood pulp for paper and paper products.</p>

          <p>This data set displays wood fiber concessions as a single layer assembled by aggregating concession data for multiple countries. The data may come from government agencies, NGOs, or other organizations and varies by date and data sources. For more information on concession data for each country please visit the <a href="http://data.globalforestwatch.org/datasets?q=wood+fiber&sort_by=relevance">Open Data Portal</a>.</p>

          <p>If you are aware of concession data for additional countries, please email us <a href='mailto:gfw@wri.org'>here</a>.</p>

          <p class='credits'><strong>Suggested citation for data as displayed on GFW:</strong> “Wood Fiber.” World Resources Institute. Accessed through Global Forest Watch on [date]. <a href='http://www.globalforestwatch.org/' target='_blank'>www.globalforestwatch.org</a>.</p>

          <p class='read_more hidden'><em><%= link_to 'Learn more or download data', "http://data.globalforestwatch.org/datasets/eca9f0db800a4d5c83bbf7f231c67949_0", :class => "download-mobile-link" %></em></p>
        </div>
      </div>
    </li>
    <li id='dam_hotspots' class='source-item last'>
      <div class='source_header'>
        <strong class='source_title'>Major dams</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Identifies dam locations for the world’s 50 major river basins.</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Varies by country</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Geographic coverage</dt>
            <dd>This data set is not global. The data is confined to the world’s 50 major river basins.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Source data</dt>
            <dd>Dams data are compiled from various sources, including: the <a href="http://atlas.gwsp.org/index.php?option=com_content&task=view&id=207&Itemid=68">Global Reservoir and Dam (GRanD) Database</a>, the <a href="http://waterandfood.org/">Consultative Group on International Agricultural Research (CGIAR) Challenge Program on Water and Food - Mekong</a> (for Mekong basin dams only), the <a href="http://geo.usace.army.mil/pgis/f?p=397:101:32175502090367::NO:::">United States National Inventory of Dams (NID)</a>, other government dam inventories, and original data collection by International Rivers.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Frequency of updates</dt>
            <dd>As new data becomes available</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Date of content</dt>
            <dd>2014</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>
              <p>Data results are biased towards public available data, so gaps may exist.</p>
            </dd>
          </dl>
        </div>

        <div class='source_summary'>
        <h3 class='overview_title'>Overview</h3>
          <p>The <a href="http://www.v-c-s.org">State of the World's Rivers</a> is an interactive web database that illustrates data on ecological health in the world’s 50 major river basins. Indicators of ecosystem health are grouped into the categories of river fragmentation, biodiversity, and water quality. The database was created and published by International Rivers in 2014.</p>
          <p>The Dam Hotspots data contains over 5,000 dam locations determined by latitude and longitude coordinates. These locations were confined to the world’s 50 major river basins. The data set comes from multiple sources, and was corrected for location errors by International Rivers. The “project status”—a moving target—was determined by acquiring official government data, as well as through primary research from Berkeley and five International Rivers’ regional offices.</p>
          <div class="layer-details layer-details-dam_hotspots">
            <ul class="layer-colors">
              <li><i class="circle" style='color:#F78300;'></i>Operational: Already existing dams.</li>
              <li><i class="circle" style='color:#D5CB12;'></i>Under construction: Dams which are currently being constructed.</li>
              <li><i class="circle" style='color:#1F78B4;'></i>Planned: Dams whose studies or licensing have been completed, but construction has yet to begin.</li>
              <li><i class="circle" style='color:#85AB63;'></i>Inventoried: Dams whose potential site has been selected, but neither studies nor licensing have occurred.</li>
              <li><i class="circle" style='color:#E31A1C;'></i>Suspended: Dams which have been temporarily or permanently suspended, deactivated, cancelled, or revoked.</li>
              <li><i class="circle" style='color:#746969;'></i>Unknown: No data are currently available.</li>
            </ul>
          </div>
          <p class='credits'><strong>Citation:</strong>International Rivers, The State of the World’s Rivers, August 2014 available at <a href="http://tryse.net/googleearth/irivers-dev3/">http://tryse.net/googleearth/irivers-dev3/</a>.</p>
          <p class='read_more hidden'><em><a href='http://data.globalforestwatch.org/datasets/537361e2df59486e898cd4e024af57ea_0' class="download-mobile-link" target='_blank'>Learn more or download data.</a></em></p>
        </div>
      </div>
    </li>
    <li id='ifl_2013_deg' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Intact Forest Landscapes 2000/2013</strong>
        <i class='expand_arrow'></i>
        <em class='source_description'>(2000/2013)</em>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Identifies the world’s last remaining unfragmented forest landscapes, large enough to retain all native biodiversity andshowing no signs of human alteration as of the year 2013. This layer also shows the reduction in the extent of Intact Forest Lanscapes from 2000 to 2013.</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Approximately 1:1,000,000</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Global</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd><a href='http://landsat.usgs.gov/' target='_blank'>Landsat TM/ETM+/OLI</a></dd>
          </dl>
          <dl class='sources_row'>
            <dt>Frequency of updates</dt>
            <dd>2015 update; 2008 original publication</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Date of content</dt>
            <dd>2013</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>The world IFL map was created through visual interpretation of Landsat images by experts. The map may contain inaccuracies due to limitations in the spatial resolution of the imagery and lack of ancillary information about local land-use practices in some regions. In addition, the methodology assumes that fires in proximity to roads or other infrastructure may have been caused by humans, and therefore constitute a form of anthropogenic disturbance. This assumption could result in an underestimation of IFL extent in the boreal biome.</dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>The <a href='http://intactforests.org/' target='_blank'>Intact Forest Landscapes</a> (IFL) data set identifies unbroken expanses of natural ecosystems within the zone of forest extent that show no signs of significant human activity and are large enough that all native biodiversity, including viable populations of wide-ranging species, could be maintained. To map IFL areas, a set of criteria was developed and designed to be globally applicable and easily replicable, the latter to allow for repeated assessments over time as well as verification. IFL areas were defined as unfragmented landscapes, at least 50,000 hectares in size, and with a minimum width of 10 kilometers. IFL areas were defined as unfragmented landscapes, at least 50,000 hectares in size, and with a minimum width of 10 kilometers. These were then mapped from Landsat imagery for the years 2000 and 2013.</p>

          <p>Changes in the extent of IFLs were identified within year 2000 IFL boundary using the global wall-to-wall Landsat image composite for year 2013 and the global forest cover loss dataset (Hansen et al., 2013). Areas identified as “reduction in extent” met the IFL criteria in 2000, but no longer met the criteria in 2013. The main causes of change were clearing for agriculture and tree plantations, industrial activity such as logging and mining, fragmentation due to infrastructure and new roads, and fires assumed to be caused by humans.</p>

          <p>This data can be used to assess forest intactness, alteration, and degradation at global and regional scales. More information about the data set and methodology is available on  <a href="http://www.intactforests.org">www.intactforests.org</a></p>

          <p class='credits'><strong>Citation:</strong> Potapov, P., A. Yaroshenko, S. Turubanova, M. Dubinin, L. Laestadius, C. Thies, D. Aksenov, A. Egorov, Y. Yesipova, I. Glushkov, M. Karpachevski, A. Kostickova, A. Manisha, E. Tsybikova, and I. Zhuravleva. 2008. “Mapping the World’s Intact Forest Landscapes by Remote Sensing.” Ecology and Society 13, no. 2: Art. 51. www.ecologyandsociety.org/vol13/iss2/art51.</p>

          <p class='credits'><strong>Suggested citation for users:</strong> Greenpeace, University of Maryland, World Resources Institute and Transparent World. “Intact Forest Landscapes. 2000/2013” Accessed through Global Forest Watch on [date]. www.globalforestwatch.org</p>

          <p class='read_more hidden'><em><a href="http://data.globalforestwatch.org/datasets?q=intact+forest+landscapes&sort_by=relevance" target="_blank">Learn more or download data</a></em></p>
        </div>
      </div>
    </li>
    <li id='plantations' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Tree Plantations</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Shows the coverage of plantations in select countries</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>Based on 30 × 30 meter data. Scale varies by country.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Currently available for Brazil, Cambodia, Colombia, Indonesia, Liberia, Malaysia, and Peru</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd><a href="http://www.transparentworld.ru/en/" target="_blank">Transparent World</a></dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>2013–2014</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Cautions</dt>
            <dd>
            An accuracy assessment found 40% false positives and 18% false negatives for the presence of plantations, with an overall accuracy of 79%. Overall accuracies were lowest in Indonesia at 68%.
            The accuracies of the species and type labels were not assessed. These fields represent the best guess of the analysts and should not be used for official purposes.
            Polygons labeled as clearings were bare or had very young vegetation as of 2013 or 2014, but contextual clues suggest that these areas will eventually become tree plantations.
            A subset of this data set more appropriate for supply chain monitoring can be found on <a href="http://commodities.globalforestwatch.org/" target="_blank">GFW Commodities.</a>

            </dd>
          </dl>
          <dl class='sources_row'>
            <dt>License</dt>
            <dd><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>This data set was created by Transparent World, with the support of Global Forest Watch. Many studies depicting forest cover and forest change cannot distinguish between natural forests and plantations. This data set attempts to distinguish tree plantations from natural forest for seven key countries: Brazil, Cambodia, Colombia, Indonesia, Liberia, Malaysia, and Peru.</p>

          <p>Given the variability of plantations and their spectral similarity to natural forests, this study used visual interpretations of satellite imagery, primarily <a href="http://landsat.usgs.gov/" target="_blank">Landsat</a>, supplemented by high resolution imagery (Google Maps, Bing Maps, or Digital Globe), where available, to locate plantations. Analysts hand-digitized plantation boundaries based on several key visual criteria, including texture, shape, color, and size.</p>

          <p>Each polygon is labelled with the plantation type and when possible, the species. A “gr” in front of the species name indicates a group of species, such as pines or fruit, where the individual species was not identifiable. The percentage of plantation coverage indicates a rough estimate of the prevalence of plantation within apolygon (as in the case of a mosaic). Types are defined as follows:</p>
          <p><ul class="bullets">
            <li><strong>Large industrial plantation:</strong> single plantation units larger than 100 hectares</li>
            <li><strong>Mosaic of medium-sized plantations:</strong> mosaic of plantation units < 100 hectares embedded within patches of other land use</li>
            <li><strong>Mosaic of small-sized plantations:</strong> mosaic of plantation units < 10 hectares embedded within patches of other land use.</li>
            <li><strong>Clearing/ very young plantation:</strong> bare ground with contextual clues suggesting it will become a plantations (shape or pattern of clearing, proximity to other plantations, distinctive road network, etc)</li>
          </ul></p>
          <p>For more information on this data set and how it was produced, see the forthcoming WRI Technical Note associated with this project.</p>

          <p class='credits'><strong>Citation:</strong> Transparent World. “Tree Plantations.” 2015. Accessed through Global Forest Watch on [date]. <a href="http://www.globalforestwatch.org" target="_blank">www.globalforestwatch.org</a> </p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>
    <li id='cod_primary_forest_wgs' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Democratic Republic of the Congo primary forests</strong>
        <i class='expand_arrow'></i>
        <em class='source_description'>(2000)</em>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Shows the location of primary forests in the DRC in 2000</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>60 × 60 meters.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Democratic Republic of the Congo</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>Observatoire Satellital des forêts d'Afrique centrale (OSFAC), South Dakota State University (SDSU), and University of Maryland (UMD)</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>2000</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Cautions</dt>
            <dd>The accuracy of this data has not been assessed</dd>
          </dl>

        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>This data set shows the coverage of primary humid tropical forest in the Democratic Republic of the Congo in the year 2000 at a 60 meter resolution. “Primary forest” is defined in this data set as mature humid tropical forest with greater than 60% canopy cover, and differs from “secondary forest” (regrowing forest with greater than 60% canopy cover) and “woodlands” (between 30% and 60% canopy cover). The authors created a composite of cloud-free Landsat imagery during the growing season of 2000 to conduct the analysis. They applied supervised bagged classification tree models to separate forest areas from non-forest based on training sites. Within forest areas, primary forests were separated from secondary forests and woodlands using supervised classification. For more information on methodology, see <a href="http://www.sciencedirect.com/science/article/pii/S0034425712000430" target="_blank">here.</a></p>

          <p class='credits'><strong>Citation:</strong> Observatoire Satellital des forêts d'Afrique centrale, South Dakota State University, and University of Maryland. “Democratic Republic of the Congo primary forests”. Accessed through Global Forest Watch on [date]. <a href="http://www.globalforestwatch.org" target="_blank">www.globalforestwatch.org</a> </p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>
    <li id='idn_peat_lands' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Peat lands</strong>
        <i class='expand_arrow'></i>
        <em class='source_description'>(Indonesia, 2011)</em>
      </div>

      <div class='source_body'>
        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Displays the location and depth of peat in Indonesia</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>RESOLUTION / SCALE</dt>
            <dd>1:250,000 scale.</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Indonesia</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd>Ministry of Agriculture</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Date of content</dt>
            <dd>2011</dd>
          </dl>


        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>
          <p>This layer shows the location of peat lands in Indonesia, classified by depth. The data is available by province from the <a href="http://bbsdlp.litbang.pertanian.go.id/index.php?option=com_phocadownload&view=category&id=32:peta-lahan-gambut-indonesia&Itemid=185" target="_blank">Ministry of Agriculture</a>, and was prepared by the World Resources Institute.</p>

          <p class='credits'><strong>Citation:</strong> Ministry of Agriculture. “Indonesia peat lands.” Accessed through Global Forest Watch on [date].  <a href="http://www.globalforestwatch.org" target="_blank">www.globalforestwatch.org</a> </p>

          <p class='read_more hidden'><a href='http://data.globalforestwatch.org/' target='_blank'>Learn more or download data</a></p>
        </div>
      </div>
    </li>





<article id='base_maps'>
  <h2 class='source_category_title'>Base maps</h2>
  <p class='source_category_description'>Base maps provide a variety of map backgrounds for visual comparison with other data.</p>

  <ul class='sources'>
    <li id='grayscale' class='source-item first'>
      <div class='source_header'>
        <strong class='source_title'>Default</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_summary'>
          <p class='first'>The default base map is derived from Google Maps and shows political boundaries, major geological features, and other key areas of interest. Read the terms of service <a href='http://www.google.com/help/terms_maps.html' target='_blank'>here</a>.</p>
        </div>
      </div>
    </li>

    <li id='terrain' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Terrain</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_summary'>
          <p class='first'>Google Maps’ terrain base map shows geographical and topographical details. Scale varies by location. Read the terms of service <a href='http://www.google.com/help/terms_maps.html' target='_blank'>here</a>.</p>
        </div>
      </div>
    </li>

    <li id='satellite' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Satellite</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_summary'>
          <p class='first'>Google Maps’ satellite base map consists of a mix of recent (1–3 years old) mid-resolution and high-resolution satellite and aerial imagery from multiple providers for a given area. TerraMetrics TruEarth 15-meter imagery is the baselayer imagery that covers the entire globe, and Google adds high-resolution imagery, where available, over TruEarth 15-meter imagery to provide additional visual details. Read the terms of service <a href='http://www.google.com/help/terms_maps.html' target='_blank'>here</a>.</p>
        </div>
      </div>
    </li>

    <li id='roads' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Roads</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_summary'>
          <p class="first">Google Maps Road Network base map shows the extent of collected and generated road features. The map is proprietary to Google and cannot be downloaded. Scale varies by location. Read the terms of service <a href="http://www.google.com/help/terms_maps.html" target="_blank">here</a>.</p>
        </div>
      </div>
    </li>

    <li id='treeheight' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Tree Height</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_summary'>
          <p class='first'>This base map depicts the highest points in the forest canopy. Its spatial resolution is 0.6 miles (1 km) and was validated against data from a network of nearly 70 ground sites around the world. It was developed by a team of scientists from NASA’s Jet Propulsion Laboratory, Pasadena, California; the University of Maryland, College Park; and Woods Hole Research Center, Falmouth, Massachusetts. The map was created using 2.5 million carefully screened, globally distributed laser pulse measurements from space. The light detection and ranging (Lidar) data were collected in 2005 by the Geoscience Laser Altimeter System instrument on NASA’s Ice, Cloud, and land Elevation Satellite (ICESat).</p>

          <p class='credits'><strong>Source:</strong> <a href='http://www.nasa.gov/topics/earth/features/forest20120217.html' target='_blank'>www.nasa.gov/topics/earth/features/forest20120217.html</a></p>
        </div>
      </div>
    </li>
    <li id='dark' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Dark matter</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_summary'>
          <p class='first'>Dark Matter is a base map developed by <a href='http://cartodb.com/attributions#basemaps' target='_blank'>CartoDB</a>, with <a href='http://www.openstreetmap.org/' target='_blank'>OpenStreetMap</a>, and <a href='http://www.naturalearthdata.com/' target='_blank'>natural earth</a> data.</p>
        </div>
      </div>
    </li>
    <li id='positron' class='source-item'>
      <div class='source_header'>
        <strong class='source_title'>Positron</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_summary'>
          <p class='first'>Positron is a base map developed by <a href='http://cartodb.com/attributions#basemaps' target='_blank'>CartoDB</a>, with <a href='http://www.openstreetmap.org/' target='_blank'>OpenStreetMap</a>, and <a href='http://www.naturalearthdata.com/' target='_blank'>natural earth</a> data.</p>
        </div>
      </div>
    </li>
    <li id='landsat' class='source-item last'>
      <div class='source_header'>
        <strong class='source_title'>Landsat Composites</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_summary'>
          <p class='first'>These base maps show a composite of the best annual Landsat satellite imagery (USGS/NASA) from 1999 to 2012. The annual composites were generated by Google in the Google Earth Engine. The Landsat composites display “Top-of-Atmosphere,” or the most cloud-free, images at 30-meter resolution. More information on Landsat imagery is available from the <a href='http://landsat.usgs.gov/' target='_blank'>Landsat website</a>. Read the terms of service <a href='http://www.google.com/help/terms_maps.html' target='_blank'>here</a>.</p>
          <p><strong>Note:</strong> Because of the very large file size of the annual Landsat composite layers, images will take some time to reload on the website and as you zoom in and out.</p>
        </div>
      </div>
    </li>
  </ul>
</article>
<li id='canopy' class='source-item first hide'>
      <div class='source_header'>
        <strong class='source_title'>Tree Cover Canopy Density Settings</strong>
        <i class='expand_arrow'></i>
      </div>

      <div class='source_body'>
        <div class='source_download'>
        </div>

        <div class='source_table'>
          <p>Drag the handle to adjust the minimum tree cover canopy (TCC) density for Hansen/UMD/Google/USGS/NASA tree cover and tree cover loss displayed in the figures and infographics. TCC density represents the estimated percent of a pixel that was covered by tree canopy in the year 2000, as determined from the analysis of satellite imagery. For the tree cover loss data, TCC density therefore corresponds to the density of tree cover <u>before</u> loss occurred.</p>
          <p>Adjustments to the minimum TCC density will only affect tree cover and tree cover loss. This feature does not pertain to Hansen/UMD/Google/USGS/NASA tree cover gain or to other GFW data layers or country profile statistics. Tree cover gain is displayed with a set minimum TCC density greater than 50%.</p>
          <p>This feature is also available for the Country Rankings and for the map visualization and analysis. The TCC density minimum selected in the Country Profiles will be applied to the country or subnational jurisdiction analysis and related map visualization if accessed through the Country Profiles. However, an adjustment to the TCC density minimum through the map settings will not affect the statistics within the Country Profiles. The Country Rankings will not reflect adjustments made in individual Country Profiles.</p>
        </div>
      </div>
    </li>
</div>


