<div class="sup-options">
  {{#if switch}}
    <div class="switcher">
      <ul class="switcher-track">
        {{#each switch}}
          <li class="switcher-item" data-unit="{{this.unit}}">{{this.unitname}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  {{#if this.thresh}}
    <div class="canopy-threshold">
      <span>display loss with
        <select class="selector blue threshold" name="threshold">
          <option value="10">>10%</option>
          <option value="15">>15%</option>
          <option value="20">>20%</option>
          <option value="25">>25%</option>
          <option value="30">>30%</option>
        </select>
      canopy density</span>
    </div>
  {{/if}}
</div>

<div class="tab-graph"></div>

{{#if this.range}}
<div class="sub-options">
    <div class="average">
      <span>Average:
        <select class="selector date-selector blue start-date" data-direction="1" data-compare=".end-date" name="start-date">
          {{#each this.range}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
        to
        <select class="selector date-selector blue end-date" data-direction="0" data-compare=".start-date" name="end-date">
          {{#each this.range}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </span>
    </div>
</div>
{{/if}}
