{{!-- BACKDROP --}}
<div class="modal-backdrop"></div>
{{!-- WINDOW --}}
<div class="modal-window">
  <a href="#" class="modal-close">
    <svg><use xlink:href="#shape-close"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content">
      <h2 class='modal-title'>{{title}}</h2>
      <h3 class="modal-subtitle">{{subtitle}}</h3>
      <div>
        <div class="m-select rounded">
          <span class="label">Canopy density</span>
          <div class="select-wrapper">
            <select data-attribute="treshold" class="chosen-select js-select">
              {{#each treshold}}
                <option value="{{this.value}}" {{#if selected}}selected{{/if}}>> {{this.label}}%</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="m-select rounded">
          <span class="label">Data</span>
          <div class="select-wrapper">
            <select data-attribute="data" class="chosen-select js-select">
              {{#each data}}
                <option value="{{this.value}}" {{#if selected}}selected{{/if}}>{{this.label}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="m-select rounded">
          <span class="label">Data average</span>
          <div class="select-wrapper">
            <select data-attribute="start_date" class="chosen-select js-select">
              {{#each start_date}}
                <option value="{{this.value}}" {{#if selected}}selected{{/if}}>{{this.label}}</option>
              {{/each}}
            </select>
          </div>
          <span class="separator">to</span>
          <div class="select-wrapper">
            <select data-attribute="start_date" class="chosen-select js-select">
              {{#each start_date}}
                <option value="{{this.value}}" {{#if selected}}selected{{/if}}>{{this.label}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="m-select rounded">
          <span class="label">Unit</span>
          <div class="select-wrapper">
            <select data-attribute="unit" class="chosen-select djs-efault">
              {{#each units}}
                <option value="{{this.value}}" {{#if selected}}selected{{/if}}>{{this.label}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="m-btncontainer is-center">
        <a href="http://opendata.arcgis.com/" target="_blank" class="">OPEN DATA PORTAL</a>
        <button href="http://localhost:5000/api/downloads?iso=BRA&indicator_ids[]=1" target="_blank" class="btn medium blue js-submit">Continue</button>
      </div>
    </div>
  </div>
</div>
