{{!-- Cambiar id numérico por widget-id --}}
<section class="m-widget">
  <header class="m-widget-header">
    <h2 class="name">{{this.name}}</h2>
    <ul class="options">
      <li>
        <a class="btn-action close" href="#">
          <svg>
            <use xlink:href="#shape-close"></use>
          </svg>
          <span class="tooltip1 dark">Remove</span>
        </a>
      </li>
      <li>
        <a class="btn-action share" href="#">
          <svg>
            <use xlink:href="#shape-share"></use>
          </svg>
          <span class="tooltip1 dark">Share</span>
        </a>
      </li>
      <li>
        <a class="btn-action download" href="#">
          <svg>
            <use xlink:href="#shape-download-arrow"></use>
          </svg>
          <span class="tooltip1 dark last">Download</span>
        </a>
      </li>
      <li>
        <a class="btn-action source" href="#" data-source="source-{{this.slug}}">Read more
          <svg>
            <use xlink:href="#shape-info"></use>
          </svg>
        </a>
      </li>
    </ul>
  </header>
  <div class="m-widget-content">

    {{#if this.tabs}}
      <ul class="tab-ul is-mobile-hidden">
      {{#each this.tabs}}
        <li class="tab-li" data-position="{{this.position}}">
          <span class="name">{{this.name}}</span>
          {{#if this.subname}}<span class="subname">{{this.subname}}</span>{{/if}}
          {{#if this.ipcc}}<span class="ipcc">{{this.ipcc}}</span>{{/if}}
        </li>
      {{/each}}
      </ul>
      <select class="is-desktop-hidden tab-li tab-selector" name="tabs" id="country-tabs-mobile">
        {{#each this.tabs}}
          <option value="{{this.position}}" data-position="{{this.position}}">
            <span class="name">{{this.name}}</span>
            {{#if this.subname}}<span class="subname">{{this.subname}}</span>{{/if}}
          </option>
        {{/each}}
      </select>

      <div class="m-tab tab-content"></div>
    {{/if}}
  </div>
</section>
