<a class="close" href="#"><svg><use xlink:href="#shape-close"></use></svg></a>

<div class="content-wrapper">
  <div class="m-compare-modal">
    <header>
      <ul>
        <li class="m-modal--tablink is-active" data-tab="#selection1">Selection A</li>
        <li class="m-modal--tablink" data-tab="#selection2">Selection B</li>
      </ul>
    </header>
    <ul class="m-modal--tabscontent">
      <li id="selection1" class="m-modal--tab is-active">
        <div class="m-field m-select">
          <h3>Country</h3>
          <select id="compare-select1" class="chosen-select default" data-compare="1">
            <option value="">Select a country</option>
            {{#each countries}}
              <option value="{{this.iso}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        {{#if country1}}
          <div class="m-field">
            <h3>Area of interest (optional)</h3>
            <ul class="m-field-list compare-area">
              {{#each country1.areas}}
                <li class="m-field-list-radio is-area" data-id="{{id}}">{{this.name}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="m-field">
            <h3>Juristiction (optional)</h3>
            <ul class="m-field-list compare-jurisdiction">
              {{#each country1.jurisdictions}}
                <li class="m-field-list-radio is-jurisdiction" data-id="{{id}}">{{this.name}}</li>
              {{/each}}
            </ul>
          </div>
        {{else}}
          Choose a country
        {{/if}}
      </li>
      <li id="selection2" class="m-modal--tab">
        <div class="m-field m-select">
          <h3>Country</h3>
          <select id="compare-select2" class="chosen-select default" data-compare="2">
            <option value="">Select a country</option>
            {{#each countries}}
              <option value="{{this.iso}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        {{#if country2}}
          <div class="m-field">
            <h3>Area of interest (optional)</h3>
            <ul class="m-field-list compare-area">
              {{#each country2.areas}}
                <li class="m-field-list-radio" data-id="{{id}}">{{this.name}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="m-field">
            <h3>Juristiction (optional)</h3>
            <ul class="m-field-list compare-jurisdiction">
              {{#each country2.jurisdictions}}
                <li class="m-field-list-radio" data-id="{{id}}">{{this.name}}</li>
              {{/each}}
            </ul>
          </div>
        {{else}}
          Choose a country
        {{/if}}

      </li>
    </ul>
  </div>
</div>
{{!-- <div id="sources">
  <div id="indicators" class="source-item">
    <div class="source_header">
      <strong class="source_title">Select indicators</strong>
    </div>
    <div class="source_body">

    <div class="indicator-list">

      <div class="indicators-group">
        <h3>Forest and Carbon Data</h3>
        <ul>
          <li id="1" class="indicator"><span class="indicator__name">annual deforestation rate</span></li>
          <li id="2" class="indicator"><span class="indicator__name">carbon emissions from deforestation<svg class="icon-selector-piechart"><use xlink:href="#icon-selector-piechart"></use></svg></span></li>
          <li id="3" class="indicator"><span class="indicator__name">forest area 2000<svg class="icon-selector-piechart"><use xlink:href="#icon-selector-piechart"></use></svg></span></li>
          <li id="4" class="indicator"><span class="indicator__name">biomass carbon stock</span></li>
          <li id="5" class="indicator"><span class="indicator__name">aboveground biomass density<svg class="icon-selector-piechart"><use xlink:href="#icon-selector-piechart"></use></svg></span></li>
          <li id="6" class="indicator"><span class="indicator__name">emerging hotspots</span></li>
          <li id="7" class="indicator"><span class="indicator__name">soil carbon stocks</span></li>
          <li id="8" class="indicator"><span class="indicator__name">soil carbon density</span></li>
        </ul>
      </div>

      <div class="indicators-group">
        <h3>Policy and Drivers</h3>
        <ul>
          <li id="9" class="indicator"><span class="indicator__name">top 5 crops expanding in area</span></li>
          <li id="10" class="indicator"><span class="indicator__name">c stocks vs. crop yields</span></li>
          <li id="11" class="indicator"><span class="indicator__name">deforestation drivers</span></li>
          <li id="12" class="indicator"><span class="indicator__name">deforestation emissions as a % of national ghg emissions</span></li>
          <li id="13" class="indicator"><span class="indicator__name">climate change initiatives singed</span></li>
          <li id="14" class="indicator"><span class="indicator__name">human population trends</span></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <button id="btn-done" class="btn medium blue">Done</button>
    </div>
  </div>
</div>
 --}}
