<div class="l-compare-selectors">

  <div class="m-compare-selector">
     <select name="country1" id="country1">
      <option value="no_country">Select a country</option>
      {{#each countries}}
        <option value="{{this.iso}}">{{this.name}}</option>
      {{/each}}
     </select>
  </div>
  <div class="m-compare-selector">
    <select name="country2" id="country2">
      <option value="no_country">Select a country</option>
      {{#each countries}}
        <option value="{{this.iso}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="m-compare-selector">
    <select name="country3" id="country3">
      <option value="no_country">Select a country</option>
      {{#each countries}}
        <option value="{{this.iso}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

</div>
<button class="btn-compare btn medium white is-disabled">compare</button>
