<div class="l-compare-selectors">
  {{#each selection}}
    <div class="m-compare-selector" data-tab="{{this.tab}}">
        {{#if this.jurisdiction}}
          <div class="selection-name">{{this.jurisdiction}} in {{this.name}}</div>
        {{else}}
        {{#if this.area}}
          <div class="selection-name">{{this.area}} in {{this.name}}</div>
        {{else}}
          <div class="selection-name">{{this.name}}</div>
        {{/if}} {{/if}}
        <div class="country-figure" id="compare-figure{{this.tab}}"></div>
        <div class="m-compare-selector-not-empty">
          <p>Click to change selection</p>
        </div>
    </div>
  {{/each}}
</div>
