<section class="header-static">
  <div class="inner">
    <header>
      <h2>About</h2>
      <h3>Global Forest Watch Climate (GFW Climate) is the latest <strong><a href="http://www.globalforestwatch.org">Global Forest Watch application</a></strong>, joining a host of interactive online forest monitoring tools designed to empower people everywhere with the information they need to better manage and conserve forest landscapes. GFW Climate strives to deliver timely and accurate data on forest carbon in a way that unlocks insights for government, REDD+ donors, the private sector, NGOs, journalists, universities and the general public.</h3>
    </header>
  </div>
</section>

<section id="sidebarNavView" class="content-static">
  <a id="back-btn" class="back-btn mobile-show" href="#"><svg><use xlink:href="#shape-fast-forward-left"></use></svg><ABBR>About</ABBR></a>
  <div class="inner">
    <div class="row">
      <aside id="sidebarAside">
        <ul>
          <li>
            <a href="#" class="nav-title">
              <svg><use xlink:href="#shape-fast-forward-up"></use></svg>
              <%= @title %>
            </a>
          </li>
          <li><%= link_to 'About GFW Climate', "#{about_path}?page=about", :"data-slug" => 'about-gfw-climate', :"data-interesting" => 'about_fires, about_commodities, faqs', :class => 'nav-item about-gfw-climate selected' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'FAQ', "#{about_path}?page=faq", :"data-slug" => 'faq', :"data-interesting" => 'about_fires, about_commodities, faqs', :class => 'nav-item faq' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'PUBLICATIONS AND BLOGS', "#{about_path}?page=publications", :"data-slug" => 'publications', :"data-interesting" => 'publications, faqs', :class => 'nav-item publications' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
          <li><%= link_to 'TUTORIAL VIDEOS', "#{about_path}?page=tutorials", :"data-slug" => 'tutorials', :"data-interesting" => 'tutorial videos', :class => 'nav-item tutorials' %><svg class="ico"><use xlink:href="#shape-arrow-right"></use></svg></li>
        </ul>
      </aside>
      <div id="sources-box" class="sources-box">
        <div class="sources-content">
          <article id='about-gfw-climate' class='source-article' style="display:  <%= !params[:page] || params[:page] == "about" ? "block" : "none" %>">
            <header>
              <h2>About GFW Climate</h2>
            </header>
            <div class="content">
              <ul class='faq-list'>
                <li>
                  <p>
                    GFW Climate provides <%= link_to "interactive and high resolution (30 meter) maps", map_path %>
                  of both the carbon stored in forests and the carbon dioxide emitted to the atmosphere
                  when forests are cleared. It also offers a customized user experience through the creation
                  of on-the-fly maps and analysis, <%= link_to "interactive country dashboards", countries_path %>,
                  <%= link_to "customized reports", compare_countries_path %> and
                  <%= link_to "data downloads", "http://data.globalforestwatch.org/datasets/d87217b5732347ab8a04ef8ffacff1fd_8"%>.
                  The result is decision-relevant information that is transparent,
                  easy to understand, and available to all who want to mitigate
                  climate change through the implementation of better forest policies and programs.
                  The entire GFW platform is free to use and follows an
                  <%= link_to "open data approach", "http://www.globalforestwatch.org/about/data_policy" %>.
                  </p>
                  <p>At this time, GFW Climate focuses only on estimating emissions from tropical deforestation, and does not include emissions or removals from other land use activities such as forest degradation or carbon stock enhancements from forest gains. Methods and data for these activities are generally less developed than those for deforestation. Given the recent momentum behind global and regional restoration initiatives, future versions of GFW Climate may expand to include other activities as new data become available.</p>
                  <p>
                    GFW Climate is supported by a diverse
                    <%= link_to "partnership of organizations", "http://www.globalforestwatch.org/about/the-gfw-partnership" %>
                    that contribute data, technology, funding, and expertise.
                    The GFW partnership is convened by the World Resources Institute.
                    See a full list of partners below.
                  </p>
                </li>
              </ul>
            </div>
          </article>
          <article id='faq' class="source-article" style="display: <%= params[:page] == "faq" ? "block" : "none" %>;">
            <header>
              <h2>FAQ</h2>
            </header>
            <div class="content">
              <ul class='faq-list'>
                <li>
                  <p>
                  <strong>How does GFW Climate relate to country-level measurement, reporting and verification (MRV)?</strong><br>
                  The establishment of robust MRV systems for REDD+ is a key
                  component in the successful implementation of carbon emissions
                  reduction strategies. Global Forest Watch Climate is not
                  intended to replace country-led MRV efforts, which should
                  include much more detailed information on the greenhouse gas
                  impacts of planned or implemented policies and measures.
                  However, GFW Climate can be used as an independent tool
                  against which forest reference emissions levels and other
                  nationally-reported estimates can be assessed.</p></li>
                <li><p><strong> Can I use this website for project-level monitoring and assessment for REDD+?</strong><br>
                  While the tree cover loss and carbon emission estimates on Global Forest Watch Climate are spatially and temporally explicit, we do not advise their use for project-level assessment for REDD+, due to the scale of the carbon density data, in addition to year-to-year uncertainties in the tree cover loss data. For example, the aboveground live woody biomass density value of a single pixel may have large uncertainty when compared with small plots for verification. Therefore the forest changes visualized on the GFW Climate map should be considered indicative at best, and may require further verification from field assessment or more high-resolution imagery.</p>
                </li>
                <li>
                  <p><strong>Why doesn't this site include restoration?</strong><br>
                  Forest regrowth often occurs slowly over many years, and requires continued monitoring using high resolution satellite imagery for an accurate depiction of gains in tree cover. Although the original University of Maryland and Google data set includes a global tree cover gain layer for 2000-2012, the data set cannot distinguish between natural regeneration and the establishment of plantations, such as those for timber harvesting and agricultural cultivation (oil palm, rubber, etc.). In the absence of a consistent and accurate global forest regrowth data set, GFW Climate has chosen to focus instead on emissions due to forest loss, for which up-to-date global and national data exist.</p>
                </li>
                <li>
                  <p><strong>Why does GFW Climate focus only on the tropics?</strong><br>
                Monitoring greenhouse gas fluxes from forests is complex. When building GFW Climate,
                it was necessary to start somewhere. Through our outreach and interactions with stakeholders and other interested parties, it was clear that deforestation in the tropics was where there was the highest interest and need for an independent monitoring tool.. As we move forward, it is our intention to move beyond the tropics and beyond only deforestation.</p>
                </li>

                <li>
                  <p><strong>Why do you show emissions only from primary forests for Indonesia and DRC in the pantropical overview?</strong><br>
                  An important caveat regarding the Hansen et al. (2013) tree cover loss dataset is that the definition of gross tree cover loss includes rotational clear-felling of management units within tree plantations and clearing of forest regrowth in shifting cultivation cycles, along with conversion of natural forests. Data shown in the pantropical overview are based on emission estimates from Zarin et al. (in press), which took steps to address this issue using specific modifications of the Hansen et al. (2013) data for three countries that are substantial contributors to total carbon emissions from gross tropical deforestation -- Indonesia, DRC, and Malaysia. For Indonesia, primary forests in 2000 as mapped by Margono et al. and available on GFW closely match a map of forest extent from the Indonesian Ministry of Environment and Forestry data for the same year. For DRC, the focus on primary forest only aims to exclude secondary forest clearing associated with stable shifting cultivation cycles, while while still capturing emissions from expansion of shifting cultivation into primary forest areas. For Malaysia, emissions from gross deforestation is approximated by filtering out tree cover loss occurring within plantation areas as mapped by Transparent World and available on GFW. See Zarin et al. for more details. Additional data beyond those shown on the pantropical overview page for these three countries are shown on their country profile pages.
                  </p>
                </li>
                <li>
                  <p><strong>What does it mean that GFW Climate is in beta?</strong><br>
                        We are still collecting user feedback to improve website features and functionality.
                        Establishing an effective web-based tool requires an iterative process of feedback and refinement. This is why your feedback is important to us. Please submit your feedback on the feedback page to help us improve the site.</p>
                </li>
                <li>
                  <p><strong>Why isn't the biomass density map representative of a later year?</strong><br>
                  Our approach to estimating emissions from deforestation combines biomass density estimates with annual tree cover loss estimates from 2001 to 2014, both derived from spatially-explicit remote sensing imagery. This allowed us to co-locate a biomass density value with a given loss pixel. If the biomass density map were developed to be representative of a later year, e.g. 2010, then biomass density values corresponding to areas of loss in earlier years (e.g., 2001-2010) would be reflective of the cleared land after tree cover removal, rather than prior to clearing.</p>
                </li>
                <li>
                  <p><strong>What’s the difference between biomass and carbon?</strong><br>
                        The carbon content of woody matter (stem, branches and roots) and leaves is
                        approximately 50% of their total weight, or biomass. Multiplying the total biomass by the proportion of that biomass which is carbon gets us to an estimate of the total amount of carbon stored in a tree.</p>
                </li>
                <li>
                  <p><strong>How accurate are the emissions estimates?</strong><br>
                  The accuracy of emissions estimates varies, due to estimation errors inherent in the input data. Along with the aboveground live woody biomass density values, users can view an error map at the same spatial resolution, which provides the level of uncertainty for this data layer. It is recommended that both aboveground carbon density and uncertainty values be used together for carbon assessments and verification. The map will provide accurate estimates of aboveground carbon stocks and aboveground carbon density when aggregated to large areas (5,000 to 10,000 ha) for project and regional level assessments. The biomass density value of a single pixel may have large uncertainty when compared with small plots for verification. In addition, there may be year-to-year uncertainties in the loss data. Hansen et al (2013) are 75 percent confident that the loss occurred within the stated year, and 97 percent confident that it occurred within a period from the year before to the year after the stated year.
                  </p>
                </li>
                <li>
                  <p><strong>Why don't my plot data match pixel values in the aboveground live woody biomass density map?</strong><br>
                  Almost all estimates of aboveground live woody biomass density are based on the
                  collection of reliable data within inventory plots on the ground, where the diameter at breast height (DBH) of individual trees is measured by field technicians at a certain point in time. These measurements are converted to tree biomass density estimates using allometric equations.</p>
                  <p>But because it is impractical to measure all points all the time, various methods are used to approximate forest biomass across a landscape based on a smaller sample of measurement points. Any of these approximation methods, including both statistical sampling approaches and spatial modeling approaches, are meant to provide forest biomass density estimates for an area of interest beyond what can be measured at a single point.</p>
                  <p>The aboveground live woody biomass density map on GFW Climate, developed by Woods Hole Research Center, reflects output from a spatial model calibrated with ground sampling points and optimized to reflect biomass distribution across all tropical forests. Each pixel value in the map may therefore not perfectly reflect biomass density measurements collected at a single point. GFW Climate provides a pixel-level uncertainty map along with the biomass density map.</p>
                </li>
                <li>
                  <p><strong>How are calculations done in a GIS to compute country level totals?</strong><br>
                  All code and detailed workflows related to GIS calculations can be found on GitHub at https://github.com/wri/gfw_climate.
                  </p>
                </li>
          </article>
          <article id='publications' class="source-article" style="display: <%= params[:page] == "publications" ? "block" : "none" %>;">
            <header>
              <h2>Publications</h2>
            </header>
            <div class="content">
              <div class="publications">
                <div class="item">
                  <div class="image"><img src="<%= image_url("publications/publications_can_carbon_emissions_from_tropical.jpg")%>" /></div>
                  <div class="detail">
                    <h3 class="title">Can carbon emissions from tropical deforestation drop by 50% in 5 years?</h3>
                    <div class="text">Halving carbon emissions from tropical deforestation by 2020 could help bring the international community closer to the agreed goal of <2 degree increase in global average temperature change...</div>
                    <div class="action"><button class="btn gray"><%= link_to "DOWNLOAD", "https://dl.dropboxusercontent.com/s/rfdjln8se1ii463/Zarin_et_al-2016-Global_Change_Biology.pdf", target:'_blank', :class =>'block' %></button></div>
                  </div>
                </div>
                <div class="links">
                  <a target="_blank" href="http://blog.globalforestwatch.org/?s=Climate">View GFW Climate Blogs</a>
                </div>
              </div>
            </div>
          </article>
          <article id='tutorials' class="source-article" style="display: <%= params[:page] == "tutorials" ? "block" : "none" %>;">
            <header>
              <h2>Tutorial videos</h2>
            </header>
            <div class="content">
              <ul class='faq-list'>
                <li>
                  <p>
                    Global Forest Watch Climate offers a wide range of content and capabilities to serve a variety of users and purposes. Whether you arrive at GFW Climate with a clear purpose or are simply exploring different features, we can help you learn to use the platform. Please click on a topic below to watch the related tutorial video.
                  </p>
                  <%= link_to "Discover features and functionality of the Map", "https://www.youtube.com/watch?v=Nbkj4HsrfJc", target:'_blank', :class =>'block' %>
                  <%= link_to "View statistics and infographics for countries or jurisdictions", "https://www.youtube.com/watch?v=x0XKNAj6Cos", target:'_blank', :class =>'block' %>
                  <%= link_to "Compare countries and jurisdictions side by side", "https://www.youtube.com/watch?v=_WDf3qp0Fkc", target:'_blank', :class =>'block' %>
                  <%= link_to "Visualize an overview of the tropics", "https://www.youtube.com/watch?v=P_-0NRTHZyM", target:'_blank', :class =>'block' %>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="cut" style="height:1px;"></div>

<section id="interestingView" class="interesting-section"></section>
