{{#if threshold}}
  <div class="layer-details layer-details-biomass_loss">
    <div class="total-carbon-bar">
      <ul class="labels">
        <li><em>{{minrange}}</em></li>
        <li><em>{{maxrange}}</em><span class="units"> t CO<sub>2</sub> ha<sup>-1</sup></span></li>
      </ul>
      <span class="range-bar">|</span>
      <span class="range-bar">|</span>
      <div class="quartile-bar-loss-biomass"></div>
    </div>
    <p class="canopy toggle-title">layer settings <span>►</span></p>
    <p style="display:none" class="thislayer">biomass_loss</p>
    <div class="toggle-legend-option" data-layer-toggle="biomass">
      <p class="canopy range">Show values between <span class="button-wrapper"><span class="canopy-button range min"><input type="number" min="{{minrange}}" max="{{maxrange}}" step="1" value="{{minrange}}"/></span> to <span class="canopy-button range max"><input type="number" min="{{minrange}}" max="{{maxrange}}" step="1" value="{{maxrange}}"/></span></span></p>
      <p class="canopy">Show areas with tree cover <span class="button-wrapper"><span class="canopy-button"> > {{threshold}} %</span></span></p>
    </div>
  </div>
{{/if}}
