{{!-- This should be better to be in another template,
but let's do that when it will be clear where it goes --}}
<div class="graph-line-bar is-hidden">
  <div id="TreeLoosCarbonEmissions-graph"></div>
</div>
{{#if layers}}
<header>
  <div class="alone">
    <p>Available data sets for this country:</p>
  </div>
</header>
<ul class="layers-list scroll-dark">
  {{#each layers}}
    <li class="layer" data-layer="{{this.slug}}" data-layeriso="{{this.iso}}">
      <span class="onoffswitch"><span></span></span>
      <span class="layer-title">{{this.title}} <a href='#' data-source='{{this.slug}}' class='source'><svg><use xlink:href="#shape-info"></use></svg></a></span>
    {{#if this.does_wrapper}}
      <span class="does_wrapper"></span>
    {{/if}}
    </li>
  {{/each}}
</ul>
{{else}}
<header>
  <a href="/countries/{{iso}}">View country page</a>
</header>
{{/if}}
