<div class="cover">
  <div class="inner">
    <div class="block">

      <div class="header">
        <h2 class="title">Independent Baseline <br>and Forest Monitoring Report</h2>
        <h3 class="subtitle">{{country}} 2016</h3>
      </div>

      <div class="inner-content">
        <div class="m-table-list">
          <ul class="list">
            <li class="item"><span class="text">Summary</span></li>
            <li class="item"><span class="text">Scope and boundaries</span></li>
            <li class="item"><span class="text">Activity data</span></li>
            <li class="item"><span class="text">Emission factors</span></li>
            <li class="item"><span class="text">CO<sub>2</sub> emissions</span></li>
            <li class="item"><span class="text">About the data</span></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="map">
</div> -->

<div class="content">
  <div class="inner">
    <div class="block">
      <div class="inner-content">
        <h2 class="title">Summary</h2>

        <div class="row">
          <div class="col -wide-text">
            <p>Emissions from deforestation in {{country}} in {{monitorStart}}-{{monitorEnd}} ({{totalMonitoring}} Mt CO2 yr<sup>-1</sup>) were {{increase}}% {{#if hasIncreased}}higher{{else}}lower{{/if}} than the historical average of {{totalReference}} Mt CO2 yr<sup>-1</sup> ({{referenceStart}} - {{referenceEnd}}). This is {{#if hasIncreased}}bad{{else}}good{{/if}} news for forests and climate change in {{country}}!
            {{#if hasIncreased}}
              The largest proportion of this overall increase occurred within {{co2EmissionsByProvinces.0.province}} and {{co2EmissionsByProvinces.1.province}}.
            {{else}}
              Despite this overall decrease, emissions increased most in {{co2EmissionsByProvinces.0.province}} and {{co2EmissionsByProvinces.1.province}}.
            {{/if}}
          </div>
        </div>

        <div id="summary-chart" class="m-summary-chart"></div>

      </div>
    </div>
  </div>

  <div class="inner">
    <div class="block">
      <div class="inner-content">
        <h2 class="title">Scope and Boundaries</h2>

        <div class="row">
          <div class="col -wide">
            <p>These selections were chosen by the user in the automatic report generation process. To change these selections, go to climate.globalforestwatch.org and generate a new report.</p>
          </div>

          <div class="col">
            <h3 class="subtitle">Geographical Area Covered</h3>
            <div class="blank"></div>
          </div>

          <div class="col">
            <h3 class="subtitle">Forest Definition Used</h3>
            <div class="content">
              <div class="col">
                <p> Area </p>
                <div class="m-area">
                  <span class="measure"> 0.1ha </span>
                  <span class="height"> 30m </span>
                  <span class="width"> 30m </span>
                </div>
              </div>
              <div class="col">
                <p> Height </p>
                <div id="height-slider"></div>
              </div>
            </div>
            <div class="">
              <p> Crown Cover </p>
              <div id="crown-cover-slider"></div>
            </div>
            <div class="">
              <label class="report-checkbox -disabled" for="tree-plantation-excluded">
                <input class="js-report-param" id="tree-plantation-excluded" type="checkbox" disabled="disabled" name="tree_plantations">
                Tree Plantations Excluded
              </label>
              <label class="report-checkbox -disabled" for="primary-forest-only">
                <input class="js-report-param" id="primary-forest-only" type="checkbox" disabled="disabled" name="primaryforest">
                Primary Forest Only
              </label>
            </div>
          </div>

          <div class="col">
            <h3 class="subtitle">Forest Carbon Pools Included</h3>
            <div class="">
              <label class="report-radio" for="aboveground-live">
                <input class="js-report-param" id="aboveground-live" type="radio" name="below" value="false" {{#unless below}}checked="checked"{{/unless}}>
                Aboveground live woody biomass
              </label>
              <label class="report-radio" for="belowground-live">
                <input class="js-report-param" id="belowground-live" type="radio" name="below" value="true" {{#if below}}checked="checked"{{/if}}>
                Belowground live woody biomass
              </label>
            </div>
            <div class="">
              <label class="report-checkbox -disabled" for="dead-wood">
                <input class="js-report-param" id="dead-wood" type="checkbox" disabled="disabled" name="deadwoo">
                Dead wood
              </label>
              <label class="report-checkbox -disabled" for="litter">
                <input class="js-report-param" id="litter" type="checkbox" disabled="disabled" name="litter">
                Litter
              </label>
              <label class="report-checkbox -disabled" for="soil-organic-carbon">
                <input class="js-report-param" id="soil-organic-carbon" type="checkbox" disabled="disabled" name="soil_organic_carbon">
                Soil organic carbon
              </label>
              <label class="report-checkbox -disabled" for="wood-products">
                <input class="js-report-param" id="wood-products" type="checkbox" disabled="disabled" name="wood_products">
                Wood products
              </label>
            </div>
          </div>

          <div class="col">
            <h3 class="subtitle">Deforestation Definition Used</h3>
            <p>GFW’s satellite-based forest monitoring system detects and reports all instances of gross tree cover loss, regardless of whether the loss will be permanent (deforestation) or temporary (loss occurring within managed forests). GFW does not seek to define deforestation but rather allows users to filter available loss data based on their preferred definition of forest and deforestation.</p>
          </div>

          <div class="col">
            <h3 class="subtitle">Greenhouse Gases Covered</h3>
            <div class="">
              <label class="report-checkbox" for="co2">
                <input class="js-report-param" id="co2" type="checkbox" name="co2" {{#if co2}}checked="checked"{{/if}}>
                CO<sub>2</sub>
              </label>
              <label class="report-checkbox -disabled" for="ch4">
                <input class="js-report-param" id="ch4" type="checkbox" disabled="disabled" name="ch4">
                CH<sub>4</sub>
              </label>
              <label class="report-checkbox -disabled" for="n2o">
                <input class="js-report-param" id="n2o" type="checkbox" disabled="disabled" name="n2o">
                N<sub>2</sub>O
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="inner">
    <div class="block">
      <div class="inner-content">
        <h2 class="title">Independent Forest</h2>

        <div class="row">
          <div class="col">
            <p>Reference and monitoring periods shown were chosen by the user in the automatic report generation process. To change these selections, go to climate.globalforestwatch.org/countries and generate a new report.</p>
          </div>
        </div>

        <div class="row">
          <div class="col -wide -no-margin">
            <h2 class="title -medium">Activity Data</h2>
            <h3 class="subtitle">Trends in Forest Loss</h3>
          </div>
        </div>

        <div id="historical-trend-chart" class="m-historical-trend-chart"></div>

        <div class="row">
          <div class="col -wide-text -no-margin">
            <h3 class="subtitle">Largest Increases by Province</h3>
            <div id="forest-loss-province-chart" class="m-provinces-top-chart"></div>
          </div>
        </div>

        <div class="row">
          <div class="col -space-break -wide">
            <h2 class="title -medium">Emission Factors</h2>
          </div>

          <div class="col">
            <p></p>
            <p>Gross emissions disclaimer text. Lorem ipsum fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>

          <div class="col">
            <div class="table -justify">
              <div class="item">
                <div class="label">Aboveground biomass</div>
                <div class="value">{{factorAbovegroundBiomass}} t C/ha</div>
              </div>

              <div class="item">
                <div class="label">Belowground biomass</div>
                <div class="value">{{#if factorBelowgroundBiomass}}{{factorBelowgroundBiomass}} t C/ha{{else}}Not Applicable{{/if}}</div>
              </div>

              <div class="item">
                <div class="label">Total Emission Factor</div>
                <div class="value">{{factorTotalEmission}} t C/ha</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col -space-break -no-margin">
            <h2 class="title -medium">Forest-related emissions in {{country}} between {{referenceStart}} and {{referenceEnd}} (tCO<sub>2</sub>-e yr<sup>-1</sup>)</h2>
            <p>Reference and monitoring periods shown were chosen by the user in the automatic report generation process. To change these selections, go to climate.globalforestwatch.org/countries and generate a new report.</p>
          </div>
        </div>

        <div class="row">
          <div class="col -wide-text">
            <h3 class="subtitle">Trends in CO<sub>2</sub> Emissions</h3>
            <div id="forest-related-emissions-chart" class="m-historical-trend-chart"></div>
          </div>
        </div>

        <div class="row">
          <div class="col -wide-text">
            <h3 class="subtitle">Largest Increases by Province</h3>
            <div id="co2-emissions-province-chart" class="m-provinces-top-chart"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="cover">
  <div class="inner">
    <div class="block -divide">
      <div class="inner-content">
        <h2 class="title">About the data</h2>

        <div class="row">
          <div class="col">
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.</p>
          </div>
        </div>

        <div class="row">
          <div class="col -wide-text -no-margin -width-padding">
            <h2 class="title -medium">Methods used for estimating deforestation rate</h2>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>Eas justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

            <p>Cras mattis consectetur purus sit amet fermentum. Cim sociis natoque penatibus et magnis dis parturient montes. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>

          <div class="col">
            <p>Eas justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

            <p>Cras mattis consectetur purus sit amet fermentum. Cim sociis natoque penatibus et magnis dis parturient montes. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>

        <div class="row">
          <div class="col -wide-text -no-margin -width-padding">
            <h2 class="title -medium">Methods used for estimating emission factors</h2>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>Eas justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

            <p>Cras mattis consectetur purus sit amet fermentum. Cim sociis natoque penatibus et magnis dis parturient montes. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>

          <div class="col">
            <p>Eas justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

            <p>Cras mattis consectetur purus sit amet fermentum. Cim sociis natoque penatibus et magnis dis parturient montes. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="inner">
    <div class="block -divide">
      <div class="inner-content">
        <h2 class="title">Abstract</h2>

        <div class="row">
          <div class="col">
            <p>Eas justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

            <p>Cras mattis consectetur purus sit amet fermentum. Cim sociis natoque penatibus et magnis dis parturient montes. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>

          <div class="col">
            <p>Eas justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

            <p>Cras mattis consectetur purus sit amet fermentum. Cim sociis natoque penatibus et magnis dis parturient montes. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inner">
    <div class="block">
      <div class="inner-content">
        <div class="row">
          <div class="col -wide-text">
            <p>For more information, visit climate.globalforestwatch.org or email gfw@wri.org</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="updates-box -hide">
    <button id="update-report-btn"class="btn gray" type="button" name="button">Update report</button>
  </div>
</div>
