<div class="cover">
  <div class="inner">
    <div class="block">

      <div class="header">
        <h2 class="title">Independent Baseline <br>and Forest Monitoring Report</h2>
        <h3 class="subtitle">{{country}} 2016</h3>
      </div>

      <div class="inner-content">
        <div class="m-table-list">
          <ul class="list">
            <li class="item"><span class="text">Summary</span></li>
            <li class="item"><span class="text">Scope and boundaries</span></li>
            <li class="item"><span class="text">Activity data</span></li>
            <li class="item"><span class="text">Emission factors</span></li>
            <li class="item"><span class="text">CO<sub>2</sub> emissions</span></li>
            <li class="item"><span class="text">About the data</span></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="map">
</div> -->

<div class="inner">
  <div class="block">
    <div class="inner-content">
      <h2 class="title">Summary</h2>

      <div class="row">
        <div class="col -wide-text">
          <p>Emissions from deforestation in {{country}} in {{monitorStart}}-{{monitorEnd}} ({{totalMonitoring}} Mt CO2 yr<sup>-1</sup>) were {{increase}}% {{#if hasIncreased}}higher{{else}}lower{{/if}} than the historical average of {{totalReference}} Mt CO2 yr<sup>-1</sup> ({{referenceStart}} - {{referenceEnd}}). This is {{#if hasIncreased}}bad{{else}}good{{/if}} news for forests and climate change in {{country}}! The largest proportion of this {{#if hasIncreased}}increase{{else}}decrease{{/if}} occurred within [Admin Name 1] (x%) and [Admin Name 2 (y%)]</p>
        </div>
      </div>

      <div id="summary-chart" class="m-summary-chart"></div>

    </div>
  </div>
</div>

<div class="inner">
  <div class="block">
    <div class="inner-content">
      <h2 class="title">Scope and Boundaries</h2>

      <div class="row">
        <div class="col -wide">
          <p>These selections were chosen by the user in the automatic report generation process. To change these selections, go to climate.globalforestwatch.org and generate a new report.</p>
        </div>

        <div class="col">
          <h3 class="subtitle">Geographical Area Covered</h3>
          <div class="blank"></div>
        </div>

        <div class="col">
          <h3 class="subtitle">Forest Definition Used</h3>
          <div class="blank"></div>
        </div>

        <div class="col">
          <h3 class="subtitle">Forest Carbon Pools Included</h3>
          <div class="blank"></div>
        </div>

        <div class="col">
          <h3 class="subtitle">Deforestation Definition Used</h3>
          <p>GFW’s satellite-based forest monitoring system detects and reports all instances of gross tree cover loss, regardless of whether the loss will be permanent (deforestation) or temporary (loss occurring within managed forests). GFW does not seek to define deforestation but rather allows users to filter available loss data based on their preferred definition of forest and deforestation.</p>
        </div>

        <div class="col">
          <h3 class="subtitle">Greenhouse Gases Covered</h3>
          <div class="blank"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="inner">
  <div class="block">
    <div class="inner-content">
      <h2 class="title">Independent Forest</h2>

      <div class="row">
        <div class="col">
          <p>Reference and monitoring periods shown were chosen by the user in the automatic report generation process. To change these selections, go to climate.globalforestwatch.org/countries and generate a new report.</p>
        </div>
      </div>

      <div class="row">
        <div class="col -wide -no-margin">
          <h2 class="title -medium">Activity Data</h2>
          <h3 class="subtitle">Historical Trend in Forest Loss</h3>
        </div>
      </div>

      <div id="historical-trend-chart" class="m-historical-trend-chart"></div>

      <div class="row">
        <div class="col -wide">
          <h2 class="title -medium">Emission Factors</h2>
        </div>

        <div class="col">
          <p></p>
          <p>Gross emissions disclaimer text. Lorem ipsum fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>

        <div class="col">
          <div class="table -justify">
            <div class="item">
              <div class="label">Aboveground biomass</div>
              <div class="value">{{factorAbovegroundBiomass}} t C/ha</div>
            </div>

            <div class="item">
              <div class="label">Belowground biomass</div>
              <div class="value">{{#if factorBelowgroundBiomass}}{{factorBelowgroundBiomass}} t C/ha{{else}}Not Applicable{{/if}}</div>
            </div>

            <div class="item">
              <div class="label">Total Emission Factor</div>
              <div class="value">{{factorTotalEmission}} t C/ha</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col -space-break">
          <h2 class="title -medium">Historical Loss by Province</h2>
          <div id="historical-loss-province-chart" class="m-report-pie-chart"></div>
        </div>

        <div class="col -space-break">
          <h2 class="title -medium">C Stocks by Province</h2>
          <div id="c-stock-province-chart" class="m-report-pie-chart"></div>
        </div>
      </div>

      <div class="row">
        <div class="col -space-break">
          <h2 class="title -medium">Forest-related emissions in {{country}} between {{referenceStart}} and {{referenceEnd}} (tCO<sub>2</sub>-e yr<sup>-1</sup>)</h2>
          <p>Reference and monitoring periods shown were chosen by the user in the automatic report generation process. To change these selections, go to climate.globalforestwatch.org/countries and generate a new report.</p>
        </div>
      </div>

      <div id="forest-related-emissions-chart" class="m-historical-trend-chart"></div>

    </div>
  </div>
</div>
