<div class="content-wrapper">
  <div class="close-modal">
    <svg><use xlink:href="#shape-close"></use></svg>
  </div>
  <div id="sources">
    <div class="page2 is-hidden">
      <div id="indicators" class="source-item">
        <div class="source_header">
          <strong class="source_title">Select indicators</strong>
        </div>
        <div class="source_body">
          <div class="item-list">
            {{#if data.indicators}}
              <div class="indicators-group">
                {{#each data.indicators}}
                  <h3>{{@key}}</h3>
                  <ul>
                  {{#each this}}
                    <li data-id="{{id}}" class="item">
                      <span class="item__name">{{name}}<svg class="icon-chart-{{type_chart}}"><use xlink:href="#icon-chart-{{type_chart}}"></use></svg></span>
                    </li>
                  {{/each}}
                  <ul>
                {{/each}}
              </div>
            {{/if}}
          </div>
        </div>
        <div class="row">

          {{#unless data.isNational}}
            <svg class="svg-left-arrow">
              <use xlink:href="#shape-arrow-left"></use>
            </svg>
          {{/unless}}

          {{#if data.jurisdictions}}
            <button id="btn-back" class="btn--back">select jurisdictions</button>
          {{/if}}

          {{#if data.areas}}
            <button id="btn-back" class="btn--back">select areas</button>
          {{/if}}

          <button id="btn-done" class="btn medium blue">Continue</button>
        </div>
      </div>
</div>
  {{!-- Jurisdictions first page --}}
  {{#if data.jurisdictions}}
    <div class="page1">
      <div id="indicators" class="source-item">
        <div class="source_header">
          <strong class="source_title">Select jurisdictions</strong>
        </div>
      <div class="source_body">
        <div class="item-list">
          <div class="jurisdictions-group">
            <ul id="jurisdictions-list">
              {{#each data.jurisdictions}}
                <li data-id="{{id}}" class="item" data-name="{{name}}"><span class="item__name jurisdiction">{{name}}
                  <div class="checkbox"><svg class="icon-check"><use xlink:href="#icon-check"></use></svg></div></span>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    <div class="row">
      <button id="btn-next" class="btn medium blue">Continue</button>
    </div>
  {{/if}}

  {{!-- Areas of interest first page --}}
  {{#if data.areas}}
    <div class="page1">
      <div id="indicators" class="source-item">
        <div class="source_header">
          <strong class="source_title">Select areas</strong>
        </div>
      <div class="source_body">
        <div class="item-list">
          <div class="areas-group">
            <ul id="areas-list">
              {{#each data.areas}}
                <li data-id="{{id}}" data-name="{{name}}" class="item"><span class="item__name">{{name}}
                  <div class="checkbox"><svg class="icon-check"><use xlink:href="#icon-check"></use></svg></div></span>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button id="btn-next" class="btn medium blue">Continue</button>
    </div>
  {{/if}}
